*{

    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100% );
}
.contactus{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactus .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactus .title h2{
    color: white;
    font-weight: 500;
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap :20px;
    margin-top: 20px;
}
.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15) ;
}
.contact h3{
    color: #0e3959;
    font-weight:bolder;
    font-size: 1.4em;
    margin-bottom: 10px; 
}
.formbox
{
position: relative;
width: 100%;
}
.formbox .row50
{
    display: flex;
    gap:20px;
}
.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width:50%;
}
.formbox .row100 inputBox
{
    width:  100%;

}
.inputBox span{
    font-weight:bolder;
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;

}
.inputBox input{

    font-size: 1.1em;
    outline: none;
    border:1px solid #333;
}
.inputBox textarea
{
    padding:none;
    font-size: 1.1em;
    outline: none;
    border:1px solid #333;   
    resize: none;
    width: 170%;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]
{
    background-color:rgb(49, 141, 203);
    color:white;
    border: none;
    font-weight: bolder;
    font-size: larger;
    width: 120px;
    padding: 14px 15px;
}
.inputBox::placeholder
{
    color: #999;
}
.info
{
    background: #0e3959;
}
.info h3
{
    color: #fff;
}
.info .infoBox div
{
    display: flex;
    align-items: center; 
    margin-bottom: 10px;   
}
.info .infoBox div span
{
    min-width:30px;
    height: 30px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p
{
    color: #fff;
    font-size: 1.1em;

}
.info .infoBox div a
{
    color: #fff;
    text-decoration:  none;
    font-size: 1.1em;

}
.sci
{
    margin-top: 40px;
    display: flex;

}
.sci li
{
    list-style: none;
    margin-right: 15px;

}
.sci li a
{
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover
{
    color: #fff;
}
.map
{
    padding: 0%;
}
.map iframe
{
    width: 100%;
    height: 100%;
    
}